body{
    background:wheat;
    font-family: 'Crimson Text', serif;
}

h1, li{
    color:sienna;
    font-size: 40px;
    padding: 2px 0px;
}

a{
    color: #006400;
    margin: 0px 10px;
    font-size: 20px;
  }
  
  a:hover{
    color: rgb(95, 202, 95);
    text-decoration: none;
  }

ul{
    list-style-type: square;
    color: yellowgreen;
 }


 }
 footer{
    color:sienna;
    font-size: 15px;
    padding: 20px 0px;    
 }