body{
    background:wheat;
    font-family: 'Crimson Text', serif;
}

h1{
    color:sienna;
    font-size: 40px;
    padding: 10px 0px;
}

a{
    color: #006400;
    margin: 10px;
    font-size: 20px;
  }
  
  a:hover{
    color: rgb(95, 202, 95);
    text-decoration: none;
  }

li{
      padding: 5px 0px;
  }

ul{
    list-style-type: square;
    color: yellowgreen;
 }

 ol{
     font-size: 25px;
 }
 footer{
    color:sienna;
    font-size: 15px;
    padding: 20px 0px;    
 }