body{
  background: #DCDCDC;
}
h1{
  font-size: 60px;
  color: #006400;
}

h2{
  font-size: 45px;
  color: #556B2F;
}

h1,h2{
  font-family: 'Otomanopee One', sans-serif;
  text-align: center;
}

.aláhúzott{
text-decoration: underline;    
}
.szines{
  color: #FF1493;
}