button{
    width: 200px;
    height: 20 px;
    color:brown;
    background-color:chartreuse;
    margin:30px 10px 15px 100px;  
}
h1{
    margin: 100px 0px 50px 100px;
}
button, input{
    display: block;

}

input{
   margin: 0px 100px;  
   width: 200px;
}

label{
    margin: 0px 100px;
}
#negy{
    background-color:blue;
}